#background-color{
    background-color: #FEFEFE;
}

.custom-font {
    font-family: 'Ubuntu', sans-serif;
}

.color-rose{
    color: #ffd6da;
}

.color-red{
    color: #ff5c61;
}

.color-blue{
    color: #007EA7; 
}

.background-color-blue {
    background: #007EA7;
    color: white;
}

.background-color-blue:hover {
    background: #007EA7;
    color: white;
}

#navbar-customize{
    margin-top: 3em;
    margin-bottom: 5em;
    margin-right: 4em;
}

.navbar-item-customize{
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.default-color {
    color: #333138;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #007EA7 !important;
}

ul.nav li.active a {
    color: #FF5C61 !important;
}

.name-head{
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 1em;
}

#tagline {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    margin-left: 1em;
    margin-bottom: 6em;
}

#button-navigate{
    font-weight: 400;
    text-align: center;
    font-size: 22px;
}

#center-icon{
    display: block;
    margin: auto;
    text-align: center;
}

.rounded-img {
    border-radius: 50%;
}

.row-space {
    margin-bottom: 2em;
}

.paragraph-font {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.spaces-in-between {
    margin-bottom: 10em;
}

.smaller-space-in-between {
    margin-bottom: 8em;
}

#landing-page {
    margin-top: 10em;
}

.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top_pink {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #FFD6DA;
	color: #333138;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.hvrbox .hvrbox-layer_top_blue {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #D6F0FF;
	color: #333138;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.hvrbox .hvrbox-layer_top_green {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #D6FFDF;
	color: #333138;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}


.hvrbox .hvrbox-layer_top_yellow {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #F6F5DF;
	color: #333138;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}


.hvrbox:hover .hvrbox-layer_top_pink,
.hvrbox.active .hvrbox-layer_top_pink {
	opacity: 1;
}

.hvrbox:hover .hvrbox-layer_top_blue,
.hvrbox.active .hvrbox-layer_top_blue {
	opacity: 1;
}

.hvrbox:hover .hvrbox-layer_top_green,
.hvrbox.active .hvrbox-layer_top_green {
	opacity: 1;
}

.hvrbox:hover .hvrbox-layer_top_yellow,
.hvrbox.active .hvrbox-layer_top_yellow {
	opacity: 1;
}

.hvrbox .hvrbox-text {
	text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 18px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}

/* Icon Forward */
.hvr-icon-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
  }
  .hvr-icon-forward .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

.banner-height {
	display: block;
	width: auto;
	height: 60vh;
}

.bg-pastel-blue {
	background-color: #D6F0FF;
	display:flex;
	align-items:center;
	justify-content:center;
}

.blue-title {
	color: #5c7aff;
}


.date-text {
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
}

.write-up-text {
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
}